body{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
#navbar{
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
.navs1 h3{
    font-size: 20px;
}
.navs2 ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navs2 ul{
    list-style: none;
    display: flex;
    gap: 4em;
}
.navs2 ul li a{
    text-decoration: none;
    font-size: 17px;
    color: slategrey;
    cursor: pointer;
    transition: 0.3s;
}
.navs2 ul li a:hover{
    color: black;
    font-weight: 700;
}
.resbtn{
    text-decoration: none;
    background: gold;
    padding: 10px;
    font-weight: 800;
    color: black;
}
.resbtn:hover{
    background: rgb(236, 189, 70);
}
.lname{
    color: orange;
}

#hero{
    padding: 10rem;
    /* width: 60%; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
.hero-left h2{
    font-size: 3.5rem;
}
.hero-left h1 a{
    text-decoration: none;
    color: red;
}
.hero-right img{
    height: 350px;
    border-radius: 50%;
    border: 5px solid limegreen;
}

.section_header h2{
    text-align: center;
    font-size: 30px;
    font-weight: 1000;
    color: black;
}
#projects{
    background: grey;
    height: 20rem;
}
.const-message{
    padding: 5rem;}
